@import "../colors.scss";
@import "../_functions.scss";

@import "../bootstrap/_functions.scss";
@import "../bootstrap/_variables.scss";
@import "../bootstrap/vendor/_rfs.scss";
@import "../bootstrap/mixins/_breakpoints.scss";

// BG
.bg-shape {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 70%;

    .bg-shape-line {
        -webkit-mask-image: url(../../img/bg-shape-line.svg);
        -webkit-mask-repeat: no-repeat;
        mask-image: url(../../img/bg-shape-line.svg);
        mask-repeat: no-repeat;
        height: 95%;
        width: 100%;
        position: absolute;
        z-index: 1;
        margin-left: pxToRem(-100);
        @include media-breakpoint-down(xxl) {
            display: none;
        }
        // @include media-breakpoint-down(xxl) {
        //     margin-left: pxToRem(-60);
        //     width: calc(100% + 60px);
        //     z-index: -1;
        // }
        // @include media-breakpoint-down(sm) {
        //     width: calc(100% + 40px);
        //     margin-left: pxToRem(-40);
        // }

        .bg-shape-texture {
            // display: none;
            height: 100%;
            width: 100%;
            background: url(../../img/bg-texture-5.png);
            background-repeat: repeat;
            background-size: cover;
            animation: bg-animation 1500s infinite linear;
            // @include media-breakpoint-down(xl) {
            //     display: block;
            // }
        }
    }

    .bg-shape-cover {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        &-wrapper {
            position: relative;
            height: 100vh;
            -webkit-mask-image: url(../../img/bg-shape-2.svg);
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: cover;
            mask-image: url(../../img/bg-shape-2.svg);
            mask-repeat: no-repeat;
            mask-size: cover; 
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(0deg, transparent 0%, rgba($color-black, .3) 100%);
            }
        }

    }
}